@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom utility to hide the scrollbar inside the mobile container */
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;    /* Firefox */
  }
}